<div class="container mt-4">
  <h2>Tickets</h2>

  <div *ngIf="isLoading">Loading...</div>
  <div *ngIf="errorMessage">{{ errorMessage }}</div>

  <table class="table table-bordered table-striped mt-3" *ngIf="!isLoading && !errorMessage">
    <thead>
      <tr>
        <th>Id</th>
        <th>Short Description</th>
        <th>Description</th>
        <th>Created Date</th>
        <th>Severity</th>
        <th>Target Date</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let t of tickets">
        <td>{{ t.id }}</td>
        <td>{{ t.shortDescription }}</td>
        <td>{{ t.description }}</td>

        <td>{{ t.createdDate | date:'mediumDate' }}</td>

        <td>{{ t.severity }}</td>


        <td>{{ t.targetDate | date:'MMM d, y' }}</td>

        <td>{{ t.status }}</td>
      </tr>
    </tbody>
  </table>
</div>
